doctype html
html
  head
    title penmanship
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" type="text/css" href="dist/index.min.css")
    script(type="text/javascript" src="dist/index.min.js")
  body
    div(class="container")
      h1(class="text-center") penmanship
      p(id="description")
        | ベースラインとアセントを基準としたグリッド上に指定した文字を表示できます。
        | 手書き文字の練習・参照用などにご利用いただけます。
        | 游ゴシックでの表示を想定しておりWindows 10またはMac OS Sierra以降のみ対応、
        | Internet Explorer、Firefox、Chromeの最新版で動作確認しています。
    input(data-bind="value: text"
        placeholder="テキストを入力するかボタンをクリックしてください")
    div(class="container")
      div(class="row justify-content-center")
        button(data-bind="click: randomKanji" class="btn"
            data-toggle="tooltip" data-trigger="hover"
            title="平成22年度内閣告示第2号(2136文字)からランダム"
          ) 常用漢字
        button(data-bind="click: allHiragana" class="btn"
            data-toggle="tooltip" data-trigger="hover"
            title="ひらがなをすべて"
          ) ひらがな
        button(data-bind="click: allKatakana" class="btn"
            data-toggle="tooltip" data-trigger="hover"
            title="カタカナをすべて"
          ) カタカナ
        button(data-bind="click: allAlphabet" class="btn"
            data-toggle="tooltip" data-trigger="hover"
            title="半角英数をすべて"
          ) アルファベット・数字
    div(class="container")
      div(id="placeholder" class="row justify-content-center")
